:root{
    --darkgray-color:#454C52;
    --white-color:#FFFFFF;
    --grayTwo-color:#D9D9D9;
}
.contact-bg{
    background-image: url('../../../../Shared/Assests/Images/contact\ us\ \(1\).jpg');
    height: 800px  ;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
}
.contact-form{
    background-color: var(--darkgray-color) ;
    max-width: 663px;
    min-height: 660px;
    border-radius: 1.5rem;
    margin-top: 4.375rem;
}
.contact-form >h2{
 font-size: 2rem;
 color: var(--white-color);
 line-height: 2.875rem;
 font-weight: 600;
 padding-left: 2.8rem;
 padding-top: 6.25rem;
}
.form-control {
    background:var(--grayTwo-color);
    border-radius: 10px;
    border: var(--grayTwo-color);
    width: 85%;
    margin: 1rem 2.5rem;
}
.contact-input{
    min-height: 50px;
}

textarea.form-control {
    min-height: 200px;
}
.btn-form{
    margin-left: 19.8rem;
    margin-top: 1rem;
}
.contact-img{
   max-width: 473px;
   min-height: 501px;
   margin-top: 10rem;
   margin-left: 2rem;
}